<div class="table-wrapper">
    <div class="wrap-header"></div>
    <div class="wrap-tmain">
        <div class="card">
            <div class="card-header card-success card-inverse">
                <span class="card-title">Create company</span>
            </div>
            <div class="card-block">
                <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label text-xs-right" for="inputFirstName">First Name</label>
                        <div class="col-sm-10">
                            <input class="form-control underline" formControlName="firstName" id="inputFirstName"
                                   placeholder="First Name" type="text">
                            <p class="error_message" *ngIf="form.get('firstName').hasError('required')">First Name is
                                required</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label text-xs-right" for="inputSecondName">Second
                            Name</label>
                        <div class="col-sm-10">
                            <input class="form-control underline" formControlName="secondName" id="inputSecondName"
                                   placeholder="Second Name" type="text">
                            <p class="error_message" *ngIf="form.get('secondName').hasError('required')">Second Name is
                                required</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label text-xs-right" for="inputEmail">Email</label>
                        <div class="col-sm-10">
                            <input class="form-control underline" formControlName="email" id="inputEmail"
                                   placeholder="Email" type="text">
                            <p class="error_message" *ngIf="form.get('email').hasError('required')">Email is
                                required</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label text-xs-right" for="inputUsertype">User type</label>
                        <div class="col-sm-10">
                            <select class="form-control" formControlName="type" id="inputUsertype">
                                <option value="admin">Admin</option>
                                <option value="editor">Editor</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label text-xs-right" for="inputStatus">Status</label>
                        <div class="col-sm-10">
                            <select class="form-control" formControlName="status" id="inputStatus">
                                <option value="1">Active</option>
                                <option value="0">Deleted</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button [disabled]="!form.valid" type="submit" class="btn btn-primary btn-bordered">Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
