<div class="auth-page">
    <div class="content">

        <div class="modal-form">
            <div class="wrap-form">
                <h1>Log In</h1>
                <form [formGroup]="loginForm" (submit)="authenticate($event)">

                    <div class="ui left input form-group">
                        <div><input class="input-lg input-underline" formControlName="email" type="text"
                                    placeholder="Your email address"></div>
                        <validator-messages [field]="loginForm.controls.email"></validator-messages>
                    </div>


                    <div class="ui left input form-group">
                        <div><input class="input-lg input-underline" formControlName="password" type="password"
                                    placeholder="Password"></div>
                        <validator-messages [field]="loginForm.controls.password"></validator-messages>
                    </div>

                    <button type="submit" class="btn rounded-btn"
                            (click)="authenticate($event)"
                            (dblclick)="$event.stopPropagation();"
                            [disabled]="!loginForm.valid || submitPending">
                        Log in
                    </button>
                    <!--<a [routerLink]="['/forgot']" class="btn rounded-btn">Forgot your password?</a>-->
                </form>
            </div>
        </div>
    </div>

</div>